.product {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

h1 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

p {
    font-size: 16px;
    line-height: 0%;
}

button {
    background-color: red;
    height: 2rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}