.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e66076;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.titulo {
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 1rem;
}

.price {
  background-color: black;
  padding: 0.5rem;
  border-radius: 5px;
  color: yellowgreen;
  font-weight: bold;
  position: absolute;
  left: 80px;
  top: 90px;
}

.research {
  margin-bottom: 50px;
}

.cart {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
}

.cart h1 {
  margin-right: 15px;
  color: red;
  padding: 1rem;
}

.cart h3 {
  font-size: 15px;
}

.itensCart {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  line-height: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
